---
layout: splash
permalink: /
breadcrumbs: false
header:
  overlay_color: "#50c878"
  overlay_image: /assets/static/cover.jpg
  cta_label: '<i class="fas fa-book"></i> Start Reading'
  cta_url: /recent/
  caption: '&copy;<a href="https://dribbble.com/ni" target="_blank">by Nina Geometrieva</a>'
excerpt: "Reimagine communication."

feature_row:
  - image_path: /assets/static/dev.jpg
    alt: "Our Vision"
    url: "/dev/"
    btn_class: "btn--primary"
    btn_label: "Explore how we think about the future of telecommunications."
    image_caption: "&copy;"
  - image_path: /assets/static/hardware.jpg
    alt: "How we Innovate"
    url: "/hardware/"
    btn_class: "btn--primary"
    btn_label: "Explore more of what we have built for the people."
    image_caption: "&copy;" 
  - image_path: /assets/static/random.jpg
    alt: "What we Think"
    url: "/random/"
    btn_class: "btn--primary"
    btn_label: "Read more about our opinions on the industry."
    image_caption: "&copy;"
intro:
  - excerpt: 'Some intro about blog or company here.'
  
---
<style>
    .page__hero--overlay {
    padding: 12em 0 4em 0;
    }
    .archive__item-body p{
    text-align: center;
    padding-top: 1em;
    }
    .archive__item-caption{
        font-size: .425em;
    }
</style>
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
