<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    </ul>
</div>        
<div class="page__footer-follow">
  <ul class="social-icons">    
    {% if site.twitter.username %}
      <li><a href="https://twitter.com/{{ site.twitter.username }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    {% endif %}
    {% if site.facebook.username %}
      <li><a href="https://www.facebook.com/{{ site.facebook.username }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}
    {% if site.instagram.username %}
      <li><a href="https://www.instagram.com/{{ site.instagram.username }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.gitlab %}
      <li><a href="https://gitlab.com/{{ site.author.gitlab }}"><i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> Gitlab</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="https://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}

    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div>

<div class="page__footer-copyright">
    Made with <span class="fa fa-heart" style="color:red;"></span> by Alok Prateek.<br><br>
    
    <span style="font-size: smaller;">Best viewed on</span><br>
    <p>
        <a href="https://www.google.com/chrome/" target="_blank" style="border-bottom: none;"><i class="fab fa-chrome fa-2x fa-fw fa-lg browserchrome"> </i><span class="textsuper">57+</span></a>
        <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" style="border-bottom: none;"><i class="fab fa-firefox fa-2x fa-fw fa-lg browserff"> </i><span class="textsuper">52+</span></a>
        <a href="https://www.apple.com/safari/" target="_blank" style="border-bottom: none;"><i class="fab fa-safari fa-2x fa-fw fa-lg browsersafari"> </i><span class="textsuper">10.1+</span></a>
    </p>
    <p>
    <a href="{{ site.baseurl }}/privacy/">Privacy Policy</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="{{ site.baseurl }}/tandc/">Terms of Service</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="pressdoc.html" class="privacypolicy">Press Resources</a>
    </p>
    <p><br>Show me more love by buying me <span class="fa fa-coffee" style="color:saddlebrown;"></span> via <a href="https://paypal.me/AlokPrateek/" target="_blank" style="border-bottom: none;"><span class="fab fa-paypal" style="color:dodgerblue;"></span> Paypal.</a></p>
</div>